<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PingPal</title>
  </head>
  <body class="bg-body-tertiary">
    <%- include('./includes/header.ejs') %> 
    
    <main>
      <section id="home">
        <section>
          <div class="container pt-5">
            <div class="row">
              <div class="col-12 d-flex flex-column align-items-center gap-3 text-center">
                <h1 class="text-primary">
                  Connect Instantly with PingPal
                </h1>
                <h4>Seamless one-on-one conversations, anytime, anywhere. <br> Chat with ease and stay connected with your closest contacts.</h4>
                <a href="/login" class="btn btn-primary"> Start Chatting</a>
              </div>
            </div>
          </div>
        </section>
    </main>
    
    <%- include('./includes/footer.ejs')  %>
  </body>
</html>
